@model IEnumerable<MyMvcApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "User")
    <div>
        <label for="searchName">Find by name:</label>
        <input type="text" id="searchName" />
        <button type="button" id="searchBtn">Search</button>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#searchBtn').click(function () {
                    var name = $('#searchName').val();
                    $.get('/api/user/search', { name: name }, function (data) {
                        var rows = '';
                        $.each(data, function (i, user) {
                            rows += '<tr>'
                                + '<td>' + user.name + '</td>'
                                + '<td>' + user.email + '</td>'
                                + '<td>'
                                + '<a href="/User/Edit/' + user.id + '">Edit</a> | '
                                + '<a href="/User/Details/' + user.id + '">Details</a> | '
                                + '<a href="/User/Delete/' + user.id + '">Delete</a>'
                                + '</td>'
                                + '</tr>';
                        });
                        $('.table tbody').html(rows);
                    });
                });
            });
        </script>
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>